@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.btn {
  text-transform: capitalize;
}
.customdivider {
  display: flex;
  align-items: center;
}
.customdivider::before {
  border-bottom: 1px solid black;
  display: flex;
  flex: 1 0 auto;
  content: "";
}
.customdivider::after {
  border-bottom: 1px solid black;
  display: flex;
  flex: 1 0 auto;
  content: "";
}
#navbar {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
